.remark-slide-content {
	font-family: sans-serif;
	color: #262c40;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Linux Libertine','Georgia','Times',serif;
  color: #1a1a1a;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  overflow: hidden;
}

.content > h5, .content > h4 {
	padding-left: 2%;
	padding-right: 2%;
}

.title-slide .banner p {
	padding: 0;
}

li {
    margin-bottom: 1.5em;
}

.img-contain img {
		position: absolute;
}

.img-no-marg p {
	margin: 0
}

.fig50, .fig70, .fig75, .fig80, .fig50 {
	text-align: center;
}

.fig95 img {
	width: 95% !important;
	margin-left: 2.5%;
}

.fig90 img {
	width: 90% !important;
	margin-left: 5%;
}

.fig85 img {
	width: 85% !important;
	margin-left: 7.5%;
}

.fig80 img {
	width: 80% !important;
	margin-left: 10%;
}

.fig75 img {
	width: 75% !important;
	margin-left: 12.5%;
}

.fig70 img {
	width: 70% !important;
	margin-left: 15%;
}

.fig50 img {
	width: 50% !important;
	margin-left: 25%;
}

.font075 {font-size: .75em;}

p {
	line-height: 1.5em;
}

.block {
	display: block;
}

.blockquote {
  display: block;
  border-left: solid 5px lightgray;
  background: lightcyan;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 90%;
}

.copyright {
	float: right;
	color: gray;
	font-style: italic;
}

.copyright::before {
	content: '© ';
}

.three-images img {
	width: 300px;
	height: 500px;
}

.ref a{
	font-size: 50%;
	color: hsl(0, 0%, 55%);
}

.grViz>div {
	margin: 0 auto;
}

code {
	border-radius: 8px;
}

#slide-models_types img {
    height: 150px;
}

#slide-models_types .row:nth-of-type(2) {
	height: 87%;
}

#slide-models_types .column:not(:last-child) {
	border-right: dashed rgb(78, 92, 104) 5px;
  height: 98%;
}

#slide-models_types .column .content {
    padding-left: .5rem;
}

#slide-models_types h5 {
    margin-bottom: 2%;
    margin-top: 0;
}

#slide-models_types .column p {
    margin-top: 0;
    margin-bottom: 0;
}

#slide-models_types .content p {
    text-align: left;
}

#slide-comp-models .content img {
	display: block;
	height: 7em;
	margin: 3em 0;
}

#slide-eq_state .pull-right.fig p {
	margin-top: -1em;
}

#slide-eq_state .pull-right.fig img {
	width: 80%;
}

#slide-demog_sum .blockquote {
	padding-top: .5em;
	padding-bottom: .5em;
}

#slide-age_matrix .fig {
	margin-top: -4em;
}
